html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='Mohammed Ibrahim')
    link(rel='shortcut icon', href='../images/favicon.ico', type='image/x-icon')
    title User Dashboard
    link(href='materialize/css/materialize.css', rel='stylesheet')
  body
    .container(style='height:550px;width:800px;')
      // Top three cards
      .row
        .col.s4
          .card.blue-grey.darken-1(style='height:120px;width:250px')
            .card-content.white-text
              span(style='float:left;')
                img(src='favicon.ico')
              span(style='float:right')
                span.card-title Card Title
                p
                  | I am a very simple card. I am good at containing small bits of information.
                  | I am convenient because I require little markup to use effectively.
        .col.s4
          .card.blue-grey.darken-1(style='height:120px;width:250px')
            .card-content.white-text
              span(style='float:left;')
                img(src='favicon.ico')
              span(style='float:right')
                span.card-title Card Title
                p
                  | I am a very simple card. I am good at containing small bits of information.
                  | I am convenient because I require little markup to use effectively.
        .col.s4
          .card.blue-grey.darken-1(style='height:120px;width:250px')
            .card-content.white-text
              span(style='float:left;')
                img(src='favicon.ico')
              span(style='float:right')
                span.card-title Card Title
                p
                  | I am a very simple card. I am good at containing small bits of information.
                  | I am convenient because I require little markup to use effectively.
      // Botom cards
      .row
        // Large
        .col.s6
          .card.blue-grey.darken-1(style='height:410px;width:395px')
            .card-content.white-text
              span.card-title Card Title
              p
                | I am a very simple card. I am good at containing small bits of information.
                | I am convenient because I require little markup to use effectively.
        // two adjacent
        .column
          div
            .card.blue-grey.darken-1(style='height:200px;width:395px')
              .card-content.white-text
                span.card-title Card Title
                p
                  | I am a very simple card. I am good at containing small bits of information.
                  | I am convenient because I require little markup to use effectively.
          div
            .card.blue-grey.darken-1(style='height:200px;width:395px')
              .card-content.white-text
                span.card-title Card Title
                p
                  | I am a very simple card. I am good at containing small bits of information.
                  | I am convenient because I require little markup to use effectively.
    script(type='materialize/js/materialize.js').

